<div class="sidebar-container" (click)="onBackgroundClick($event)">
  <h4 class="sidebar-title">Files</h4>
  <ul class="file-list">
    <ng-container *ngFor="let file of files">
      <ng-container *ngTemplateOutlet="renderNode; context: { $implicit: file, level: 0, parent: null }"></ng-container>
    </ng-container>
    <li *ngIf="files.length === 0" class="empty-message">No files uploaded</li>
  </ul>
  <div
    class="sidebar-resize-bar"
    (mousedown)="startSidebarResize($event)"
    (mouseenter)="showResizeArrows = true"
    (mouseleave)="showResizeArrows = false"
    [class.active]="isResizing"
  >
    <span class="resize-arrow" *ngIf="showResizeArrows">&#x2194;</span>
  </div>
</div>

<ng-template #renderNode let-node let-level="level" let-parent="parent">
  <li class="file-item"
      [class.folder-item]="node.type === 'folder'"
      [class.selected]="node === selectedNode" 
      [style.paddingLeft.px]="level * 16"
      (click)="onFileClick(node, $event)">
    <ng-container *ngIf="node.isEditingName">
      <input [(ngModel)]="node.name" 
             (keydown.enter)="finishAdd(node, parent ? parent : level > 0 ? node.parent : undefined)" 
             (blur)="$event.target !== document.activeElement && finishAdd(node, parent ? parent : level > 0 ? node.parent : undefined)" 
             #inputElement
             autofocus />
    </ng-container>
    <ng-container *ngIf="!node.isEditingName">
      <i *ngIf="node.type === 'folder'" 
         class="fas chevron-icon" 
         [ngClass]="{'fa-chevron-right': !node.isExpanded, 'fa-chevron-down': node.isExpanded}"
         (click)="toggleFolder(node, $event)"></i>
      <span class="spacer" *ngIf="node.type === 'file'"></span>
      <i class="fas fa-file-code" *ngIf="node.type === 'file'"></i>
      {{ node.name }}
    </ng-container>
  </li>
  <ng-container *ngIf="node.type === 'folder' && node.isExpanded && node.children">
    <ng-container *ngFor="let child of node.children">
      <ng-container *ngTemplateOutlet="renderNode; context: { $implicit: child, level: level + 1, parent: node }"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
<input type="file" id="explorer-file-input" style="display:none" (change)="onFileInputChange($event)">