<ng-container *ngIf="isMainLayout">
  
  <app-navbar></app-navbar>
  <app-toolbar
    (toggleExplorer)="toggleExplorer()"
    (newFile)="projectExplorer.startAdd('file')"
    (addFolder)="projectExplorer.startAdd('folder')"
    (openFile)="onToolbarFileSelected($event)"
    (languageChange)="onToolbarLanguageChange($event)"
    (run)="onRun()"
  ></app-toolbar>
  
  <div class="main-layout">
    <app-right-panel></app-right-panel>
    <div class="sidebar-area"
         [style.width.px]="isExplorerOpen ? explorerWidth : 0"
         [class.closed]="!isExplorerOpen"
         (mousemove)="onSidebarMouseMove($event)"
         (mouseleave)="onSidebarMouseLeave()">
      <app-project-explorer
        #projectExplorer
        [files]="fileNodes"
        (fileSelected)="onSidebarFileSelected($event)"
        (folderSelected)="onSidebarFolderSelected($event)"
        [sidebarWidth]="explorerWidth"
        (sidebarWidthChange)="explorerWidth = $event">
      </app-project-explorer>
      <div
        class="sidebar-resize-bar"
        (mousedown)="startSidebarResize($event)"
        [class.active]="isResizing"
        (mouseenter)="showResizeArrows = true"
        (mouseleave)="showResizeArrows = false"
      >
        <span class="resize-arrow" *ngIf="showResizeArrows">&#x2194;</span>
      </div>
    </div>
    <div class="content-area" [class.with-bottom-panel]="!!activeBottomPanel" [style.margin-right.px]="rightMargin">
      <app-code-editor [file]="selectedFile" (codeChange)="onCodeChanged($event)"></app-code-editor>
      <app-bottom-panel
        [outputText]="outputText"
        [activePanel]="activeBottomPanel"
        [projectPath]="selectedFolder?.path"
        [projectFiles]="fileNodes"
        (activePanelChange)="onBottomPanelToggle($event)">
      </app-bottom-panel>
    </div>
    
  </div>
  
</ng-container>
<router-outlet *ngIf="!isMainLayout"></router-outlet>
